@message-bg-color: #ffffff;
@message-padding: 12px 20px;
@message-shadow: 0 4px 12px 2px rgba(18, 19, 22, 0.12);
@message-radius: 4px;
@message-title-color: rgba(18, 19, 22, 0.8);
@message-icon-size: 20px;
@message-font-size: 14px;

.seal-message-root-wrapper {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  z-index: 1000;
}
.seal-message-wrapper {
  padding: @message-padding;
  background: @message-bg-color;
  box-shadow: @message-shadow;
  border-radius: @message-shadow;
  display: flex;
  align-items: center;

  .seal-message-icon {
    font-size: @message-icon-size;
    line-height: @message-icon-size;
    margin-right: 10px;
  }

  .seal-message-title {
    font-weight: 400;
    font-size: @message-font-size;
    line-height: @message-icon-size;
    color: @message-title-color;
  }

  .seal-message-loading {
    -webkit-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
