// 色板
@red: red;
@black: #000;
@white: #fff;

@main-content-width: 1200px;
@main-content-hoz-padding: 120px;

@border-lg: 1px solid @black;
@input-background-color: #f4f5f9;
@input-border-color: #D7D8DD;
@select-arrow-color: #464a53;

