.seal-tabs {


    .seal-tabs-nav {
        display: flex;
        align-items: center;
        position: relative;

        .seal-tabs-container {
            position: relative;
            display: flex;
            flex: auto;
            overflow: hidden;
            white-space: nowrap;

            &.seal-tabs-near-extra {
            }
    
            .seal-tabs-list {
            }
        }
    }

    .seal-tabs-extra-content {
        display: inline-block;
        width: 100px;
    }
}

.seal-tabs-tab {
    display: inline-block;
}
