@import './themes/default.less';
@import './mixins/index.less';
@import './core/index.less';
@import './color/index.less';

// core组件
@import '../components/core/sl-button/sl-button.less';

// 样式组件
@import '../components/count-input/style/index.less';
@import '../components/button/style/index.less';
@import '../components/divider/style/index.less';
@import '../components/tabs/style/index.less';
@import '../components/notification/style/index.less';
@import '../components/progress/style/index.less';

.ant-form-item-has-error {
  .seal-input-wrapper {
    border: 1px solid #F5483B;
    &:focus-within {
      border: 1px solid #F5483B;
    }
  }
}
.ant-form-item-explain-error {
  font-size: 14px;
  color: #F5483B;
  margin-top: 4px;
}