.seal-space-wrapper {
    display: flex;
}
.seal-space-horizontal {
    flex-direction: row;
}
.seal-space-vertical {
    flex-direction: column;
}
.seal-space-align-start {
    //justify-content: flex-start;
    align-items: flex-start;
}
.seal-space-align-center {
    align-items: center;
}
.seal-space-align-end {
    align-items: flex-end;
}
.seal-space-align-baseline {
    align-items: baseline;
}